.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70svw;
    height: 10svh;
    background-color: #282828;
}

.sticky {
    position: fixed;
    z-index: 100;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.brand {
    color: white;
}

.navbar-link {
    color: white;
}

.navbar-link:hover,
.footer-divider .legal-links:hover,
.footer-divider .social-links:hover {
    opacity: .4;
    transition: .3s ease-out;
}

.navbar a {
    padding: 10px 20px;
    margin: 10px;
}

.signup {
    background-color: white;
    color: #282828;
}

.signin {
    border: 1px solid white;
    color: white;
}

.section {
    width: 100%;
    height: 100svh;
    padding: 10px 0;
    margin: 10px 0;
}

/* Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-left,
.home-right {
    width: 100%;
}

.home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slogan,
.gray {
    padding: 0;
    margin: 0;
    font-size: 300%;
}

.gray {
    color: gray;
}

.ctaButton {
    padding: 10px 20px;
    background-color: white;
    color: #282828;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: max-content;
}

.about p {
    font-size: 125%;
    line-height: 2.5rem;
    padding: 10px 0;
}

.about h2 {
    font-weight: 900;
    font-size: 200%;
}


/* Footer */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10svh;
}

.social-links,
.legal-links {
    padding: 10px;
    color: white;
}

.footer-divider .navbar-link {
    padding: 10px 20px;
}


/* Mobil için görünüm */
@media (max-width: 1024px) {
    .home-left {
        font-size: 12px;
    }

    .home-right {
        display: none;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: white;
        width: 100%;
        height: 90svh;
        padding: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .navbar a {
        color: #282828;
    }

    .navbar.active {
        width: 100%;
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about p {
        font-size: 100%;
    }

    .about h2 {
        font-size: 100%;
    }

    .footer {
        display: none;
    }
}